#block-trikon-aboutus{
    position: relative;
    img {
        width: 100%;
    }
    .field--name-body {
        position: absolute;
        top: 50%;
        width: 50%;
        z-index: 1;
        padding-left: 100px;
        
        h2{
            font-weight: bolder;
            color: #f9a426;
        }
        
        h3{
            color: white;
            font-weight: bold;
        }

        p{
            color: white;
        }
    }
}