.services {

	.view-header {
		text-align: center;
		background-color: black;
		padding: 30px 0;

		h2{
			color: white;
			span {
				color: #f9a426;
			}
		}

	}
	.view-services{
		.services {
			position: relative;
			overflow: hidden;
			height: 100%;
			img {
				width: 100%;
				height: 700px;
			}
			&:hover{
				.content {
					bottom: 0%;
				}
			}
			.content{
				backdrop-filter: blur(5px);
				background-color: rgba(52, 55, 61, 0.62);
				bottom: -100%;
				color: #fff;
				left: 0;
				padding: 15px;
				position: absolute;
				width: 100%;
				height: 100%;
				text-align: center;
				font-size: 18px;
				font-weight: 600;
				transition:all .5s;
				display: flex;
				align-items: center;

				.inner {
					h3 {
						padding: 15px 51px;
						a {
							color: white;
						}
					}
					ul {
						text-align: center;
						padding: 0;
						li{
							list-style: none;
						}
					}
				}
			}	
		}
	}	
}

.services {
	&.full {
		.field--name-field-front-image{
			display: none;
		}
		.content{
			padding: 50px;

			.field--name-field-service-image {
				padding-bottom: 50px;
			}
		}
	}
}