// Colors
$black		:#000000;
$white		:#FFFFFF;
$green-kelp	:#1F381E;
$wasabi		:#8B9B25;
$raw-sienna	:#CA6D48;  //brick
$hippie-blue:#579CAB;  
$galliano	:#D3A907;  //yellow
$abbey		:#595B60;  //dark ash
$silver		:#BABABA;
$red		:#B71C1C;
$blue       :#22558e;
$banana-leaf:#bad634;
$orange: #F7A226;

// Font Size
$font-x-lg	:42px;
$font-lg	:38px;
$font-x-md	:32px;
$font-md	:24px;
$font-x-sm	:18px;
$font-sm	:16px;
$font-x-tiny:14px;
$font-tiny	:13px;

// Media Screen
// Small tablets and large smartphones (landscape view)
$screen-sm-max: 320px;
// Small tablets (portrait view)
$screen-md-max: 767px;
// Tablets and small desktops
$screen-lg-max: 991px;
// Large tablets and desktops
$screen-xl-max: 1199px;

// Shadow
$shadow			:rgba(0,0,0, .6);
$shadow-default	:rgba(0,0,0, .9);